services:
  db:
    image: postgres:17-alpine
    container_name: approva_postgres_dev
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  adminer:
    image: adminer:latest
    container_name: approva_adminer_dev
    restart: unless-stopped
    ports:
      - "8080:8080"
    depends_on:
      - db

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: approva_api_dev
    restart: always
    ports:
      - "3000:3000"
    develop:
      watch:
        - path: ./backend
          action: sync
          target: /app
          ignore:
            - ./backend/node_modules
            - ./backend/dist
        - path: ./backend/package.json
          action: rebuild
    env_file:
      - .env
    depends_on:
      - db
    command: npm run start:dev

volumes:
  pg_data:
